<% include partials/headerMain%>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="/frontend/pictures/logo.gif" id="icon" alt="User Icon" />
      </div>
  
      <form id="container" action='/addUser' method='POST'>
        <div class="form-group">
          <input type="text" id="id_Usuario" class="fadeIn second" name="id_Usuario" placeholder="login">
          <input type="text" id="nom_Usuario" class="fadeIn second" name="nom_Usuario" placeholder="name">
          <input type="text" id="ap_Usuario" class="fadeIn second" name="ap_Usuario" placeholder="second name">
          <input type="text" id="tlf_Usuario" class="fadeIn second" name="tlf_Usuario" placeholder="phone">
          <input type="text" id="dir_Usuario" class="fadeIn second" name="dir_Usuario" placeholder="adress">
          if(usuario.rol==1){
            <input type="text" id="rol" class="fadeIn second" name="rol" placeholder="rol">
          }
          <input type="text" id="email_Usuario" class="fadeIn second" name="email_Usuario" placeholder="email adress">
          <input type="password" id="pswd_Usuario" class="fadeIn second" name="pswd_Usuario" placeholder="password">
          <input type="password" id="pswd_Usuario1" class="fadeIn second" name="pswd_Usuario1" placeholder="repeat password">
          <input type="submit" class="fadeIn fourth" value="Add user">
        </div>
      </form>
    
    </div>
</div>
<% include partials/footerMain%>

