<% include partials/headerMarketStr%>
<div class="container-fluid">
    <div class="row">
        <div class="col-2 mi-columna" style="margin-top: 20px; margin-left: 20px">
            <form action= "/backS" method="GET">
                <input type="submit" class="fadeIn fourth" value="back">
            </form>
            <%
                if(buyer.rol==1){
            %>
                <form action= "/addProduct" method="GET">
                    <input type="submit" class="fadeIn fourth" value="addProduct">
                </form>
            <%}
            else{%>
                <form action= "/misCompras" method="GET">
                    <input type="submit" class="fadeIn fourth" value="compras Usuario">
                </form>
            <%}%>
            </div>
        <div class="col-2 mi-columna" style="margin-top: 20px;margin-left: 1550px">
                    <form action="/ElementToBuy" method="GET">
                <input type="submit" class="fadeIn fourth"  value="Elements to buy">  
            </form>
        </div>
    </div>
    <div class="row">
    
        <div class="col-md" style="margin-left: 40px; margin-top:20px">

                        <div class="container">
                                <div class="row">
                                    <% for( var i=0; i < prods.length; i++) {%>

                                    <div class="col-md-5">
                                        <div class="p-4">
                                            <div class="card">
                                                <img src="<%=prods[i].foto_Producto%>" class="card-img-top">
                                                <div class="card-body">
                                                    <form action="AddPrd?id=<%=i%>" method="POST">
                                                        <h3 class="card-title"><%=prods[i].nom_Producto%></h3>
                                                        <p class="card-text"><%=prods[i].price_Producto%>e</p>
                                                        <input type="submit" class="fadeIn fourth"  value="Buy">    
                                                    </form>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                    <%}%>
                                </div>  
                            </div>
                   
        </div>
        <div class="col"></div>
    </div>
</div>
<% include partials/footerMktStr%>

