<% include partials/headerUser%>

<div class="container-fluid">
  <div class="row">
    <div class="col">
        <div class="navbart" style="margin-right: 500px; margin-top: 30px">
            <h1>PRODUCTOS A COMPRAR</h1>
            <ul>
               <%var cont=0;%> 
               <%for(let i=0; i < products.length ; i++) {%>
                 <li>
                     <div class="container">
                       <div class="row">
                         <div class="col">
                           <p id="nom_Producto" class="fadeIn second" name="nom_Producto"><%=products[i].nom_Producto%></p>
                         </div>
                         <div class="col">
                            <p id="price_Producto" class="fadeIn second" name="price_Producto"><%=products[i].price_Producto%></p>
                          </div>
                       </div>
                       <div class="row">
                          <form class="col"  action="/borrarProd?id=<%=i%>" method="POST">

                            <input type="submit" class="fadeIn fourth"  style="margin-bottom: 20px; margin-right: 100px" value="Delete">
                        
                        </form>
                       </div>
                     </div>
                 </li>   
               <%cont = cont+products[i].price_Producto%>            
               <%}%>
            </ul>
        </div>
        <p id="total" class="fadeIn second" name="total">TOTAL = <%=cont%></p>
        <form class="col"  action="/makeBuy" method="post">

          <input type="submit" class="fadeIn fourth"  style="margin-bottom: 20px; margin-right: 100px" value="Comprar">
      
      </form>
    </div>
  </div>
</div>

<% include partials/footerUser%>